@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

div,button,a{font-family:Aller!important;}

.movemenu button,.movemenu button[disabled] {
                 display:block;
                 float:none;
                 border:0;
                 box-shadow:0 0;
                 text-align:left;
                 font-weight:bold;
                 font-size: 12px;
                 background:#373f4a none!important;
                 color:#fff;
                 text-shadow:0 0;
                 box-shadow: inset 0 20px #484c57;
                 height: 36px;
                 padding-top: 4px;
                 transition:.6s background,.6s color,.6s box-shadow,.6s opacity;
                 opacity:.8;
                 padding-left: 35px;
                 width: 200px;
                 }

.movemenu button[disabled]{opacity:.5}

.movemenu button:not([disabled]):hover{opacity:1;background:#a59c10!important;color:#0e0b00;box-shadow:inset 0 23px #c1a800}


.movemenu button small{font-weight:normal}
.movemenu button .type{color:#fff!important;margin-top: 4px;font-size:0!important}
.movemenu button .pp{margin-top: 3px;transition:.6s background;background:#545b63;display:inline-block;padding: 0 3px;border-radius:5px;color:#fff!important;font-size: 6px!important;}

.movemenu button:hover .pp{background:#041932;}
.movemenu button:hover .type{color:#0e0b00!important;}

.movemenu {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    left: 370px;
    bottom: 100px;
    padding-left: 50px;
}

.movemenu button .type{background:#000;box-shadow:0 0 1px 1px rgba(255,255,255,.3), inset 0 5px 5px rgba(0,0,0,.33); margin:-13px 0 0 -30px;height:22px;width:25px;padding:0;border-radius:3px;}

.movemenu button .type{background-size:cover!important;}

.movemenu button.type-Ghost .type {
    background: #c63e6f url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/ghost.png') no-repeat scroll top left;
}

.movemenu button.type-Flying .type {
    background: #c63e6f url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/flying.png') no-repeat scroll top left;
}


.movemenu button.type-Bug .type {
    background: #748502 url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/bug.png') no-repeat scroll top left;
}

.movemenu button.type-Rock .type {
    background: #bcb778 url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/rock.png') no-repeat scroll top left;
}

.movemenu button.type-Normal .type {
    background: #9fa19e url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/normal.png') no-repeat scroll top left;
}

.movemenu button.type-Water .type {
    background: #2981ef url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/water.png') no-repeat scroll top left;
}

.movemenu button.type-Fire .type {
    background: #bc333a url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/fire.png') no-repeat scroll top left;
}

.movemenu button.type-Ice .type {
    background: #3abcde url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/ice.png') no-repeat scroll top left;
}

.movemenu button.type-Ground .type {
    background: #7d4c2a url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/ground.png') no-repeat scroll top left;
}

.movemenu button.type-Psychic .type {
    background: #c63e6f url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/psychic.png') no-repeat scroll top left;
}

.movemenu button.type-Fairy .type {
    background: #bc333a url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/fairy.png') no-repeat scroll top left;
}

.movemenu button.type-Fighting .type {
    background: #3abcde url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/fighting.png') no-repeat scroll top left;
}

.movemenu button.type-Grass .type {
    background: #7d4c2a url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/grass.png') no-repeat scroll top left;
}

.movemenu button.type-Dark .type {
    background: #c63e6f url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/dark.png') no-repeat scroll top left;
}

.movemenu button.type-Steel .type {
    background: #bc333a url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/steel.png') no-repeat scroll top left;
}

.movemenu button.type-Dragon .type {
    background: #3abcde url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/dragon.png') no-repeat scroll top left;
}

.movemenu button.type-Poison .type {
    background: #7d4c2a url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/poison.png') no-repeat scroll top left;
}

.movemenu button.type-Electric .type {
    background: #c63e6f url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/types/electric.png') no-repeat scroll top left;
}

label.megaevo {
    /* margin-left: -100px; */
    /* margin-top: -300px; */
    position: absolute;
    /* left: -50px; */
    background: transparent url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/tera.png') no-repeat scroll top center;
    background-size:contain;
    border:0;
    font-size:0px;
    width:50px;
    height:60px;
    top:50px
}
label.megaevo:hover{ background: transparent url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/tera.png') no-repeat scroll top center;
background-size:contain;} 
label.megaevo *{display:none;}

.rightbar,.leftbar {
    background: rgb(17 16 56 / 80%);
    color: #fff;
    box-shadow: 0 10px 10px rgb(17 16 56 / 40%);
    border:0;
}

.leftbar .teamicons{margin:0 15px!important}
.rightbar .teamicons{margin:0 15px!important}
.leftbar{left:-105px;padding: 0 13px;transition:.3s left}
.rightbar{right:-105px;padding: 0 13px;transition:.3s right}
.leftbar:hover{left:0;}
.rightbar:hover{right:0;}

.trainer strong {
    font-size: 120%;
}

.movemenu button::before {
    content: '';
    width: 28px;
    height: 28px;
    position: absolute;
    margin:-3px 0 0 -45px;
    opacity:0;transition:1s opacity;
}

.movemenu button:not([disabled]):hover::before{
    background:transparent url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/main/selected_arrow.png') no-repeat scroll top left;background-size:contain;
    opacity:1
}

#tooltipwrapper .tooltip {
    background: rgb(17 16 56 / 80%);
    color: #fff;
    padding: 3px 6px 6px;
    font-family: Aller;
    border: 0;
}

#tooltipwrapper .tooltip h2 {
    color: #fff;
    /* padding-bottom: 8px; */
    border-bottom: 2px solid rgb(132 202 220 / 60%);
    margin-bottom: 5px;
    font-size: 1em;
    line-height: 150%;
} 

#tooltipwrapper .tooltip p small {
    color: #dccc75;
    font-weight: bold;
}

#tooltipwrapper .tooltip p {
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(132 202 220 / 60%);
    margin-bottom: 5px;
}

#tooltipwrapper .tooltip p.tooltip-section {
    border-top: 0;
}

.tooltip:last-child {
    border-bottom: 0;
}

#monster_preview {
    height: 100%;
    max-height:150px;
    width:100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    position: absolute;
    margin-top: -150px;
    right: 0;
    z-index: -10000;
    opacity: .3;
}

.statbar .hpbar {
    height: 14px;
    background: #4f4146;
    border-radius: 1px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.3),0 0 0 1px rgba(255,255,255,.7),0 0 1px 2px rgba(0,0,0,.4);
    border: 2px solid #4f4146;
}

.statbar .hpbar .prevhp {
    background: transparent;
}


.statbar .hpbar .hp {
    border-radius: 0;
    border: 0;
}

.statbar .hpbar .prevhp {
    border-radius: 0;
    height: 100%;
}

.statbar .hpbar .hptext {
    right: 0;
    border-radius: 0;
    font-size: 14px;
    background: transparent;
    /* left: 0; */
    padding-right: 5px;
    padding-top: 1px;
}



.statbar .hpbar .hptext {
    left: unset;
    /* right: unset; */
    /* float: right; */
    /* transform: translate(-10px, 0); */
    text-align: right;
    width: unset;
    padding-right: 3px;
}

.lstatbar .hpbar {
    text-align: right;
}

.prevhp.prevhp-yellow, .prevhp.prevhp-yellow .hp {
    /* background: #f4c403!important; */
}

.prevhp, .prevhp .hp {
    transition: .4s background;
}

.statbar.lstatbar.leftstatbar,.statbar.rstatbar.rightstatbar {
    -webkit-transform: translate(20px, -1px);
    -moz-transform: translate(20px, -1px);
    transform: translate(30px, 30px);
}

.statbar strong {
    color: #fff;
    text-shadow: #000 0 4px 4px, #000 0 0 5px;
    margin: 5px 0;
    font-weight: normal;
}

.statbar span.brn,.statbar span.psn,.statbar span.par {
    margin-top: -20px;
}

.statbar .status {
    margin-top: 5px;
}

.sprite_containers img:last-child {
        transform: translate(30px, 30px);
}

.statbar .hpbar .hp {background: #2fcd2f;height: 100%;}

.weather {
    /* background-color: #000; */
    /* background-image: url('https://github.com/nolvorite/pokemon_sprites_for_theme/blob/main/weather/grassy_terrain.png?raw=true'); */
}

.statbar {
    /* padding: 0 10px 5px; */
    /* background: rgb(17 16 56 / 30%); */
    border-radius: 5px;
}

.tooltip.tooltip-field p {
    border-bottom: 0!important;
    padding: 0!important;
    border-bottom: 0;
}

.tooltip.tooltip-field {
    padding: 0;
}

p {}

.snowweather, .hailweather {
    background-image: url('https://raw.githubusercontent.com/nolvorite/pokemon_sprites_for_theme/refs/heads/main/weather/snow.png');
}

.weather em {
    text-shadow: 0 0;
    color: #ffffff;
    margin-top: 44px;
    padding: 5px 10px;
    /* background: rgba(255,255,255,.06); */
    /* border-radius: 5px; */
    .transition: .;
    /* border: 1px solid transparent; */
    transition: .5s border,.3s background;
}

.weather em br:first-child {
    display: none;
}

.weather em:hover {
    /* border-color: rgba(255,255,255,.6); */
    /* background: rgba(255,255,255,.2); */
}

.weather {
    /* display: none; */
}

.battle {
    /* scale: 1.3; */
    /* z-index: 5000; */
}

.mainmenuwrapper {}
